*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'whitney', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

/*header*/

header {
    background-color: #FF6900;
    position: fixed;
    z-index: 9999;
    top: 0;
    left:0;
    width: 100%;
}

header .topbar {
    height: 80px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

header .topbar > div {
    padding: 10px;
}

header .logo-column {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .login-column {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-column img {
    justify-content: center;
}

header .menu-column {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .menu-column ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header .menu-column a {
    padding: 0 5px;
    color: white;
    text-decoration: none;
}

.logo-column .logo{
    width: 100px;
}

.login-column i{
    padding: 5px;
    color: white;
}

/*header*/

/*main*/
main{
    padding-top: 85px;
}

.container{
    width: 1200px;
    height: 1300px;
    margin: auto;  
}

.product{
    width: calc(97% / 3);
    display: inline-block;
    text-align: left;
    margin-left: 7px;
    margin-bottom: 40px;
}

.container-img{
    position: relative;
}

.conteiner-img .img-1 .img-2{
    position: absolute;
}

.container-img img{
    width: 100%;
}

.product .img-1:hover{
    display: none;
}

.product .container-img .img-2{
    display: none;
}

.product .img-2:hover{
    display: block;
}

.cuore{
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 30px;
    background-color: #fff;
    padding: 5px;
}

.cuore:hover{
    color: red;
}

.scount{
    position: absolute;
    bottom: 50px;
    left: 0px;
}

.scount .targhetta-red{
    background-color: red;
    padding: 5px;
    color: #fff;
}

.scount .targhetta-green{
    background-color: green;
    padding: 5px;
    color: #fff;
}

.container-text a{
    text-decoration: none;
}

.container-text .marca{
    color: gray;
    text-decoration: none;
}

.container-text .type-product{
    text-decoration: none;
    color: black;
}

.container-text a .discount-price{
    color: red;
    margin-right: 5px;
}

.container-text a .original-price{
    color: black;
    text-decoration: line-through;
}

/*main*/

/*footer*/
footer {
    background-color: black;
    z-index: 9999;
    bottom: 0;
    left:0;
    width: 100%;
    margin-top: 40px;
}

footer .bottombar {
    height: 80px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    color: #fff;
}

footer .topbar > div {
    padding: 10px;
}

footer .menu-sx {
    width: 50%;
    height: 100%;
}

footer .menu-sx ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

footer .menu-sx a {
    margin-right: 5px;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    font-size: 13px;
}

footer .social-dx {
    height: 100%;
    width: 50%;
    text-align: right;
    padding: 15px;
}

.social-column i{
    margin-top: 10px;
    padding: 5px;
    color: white;
}

.menu-sx .info{
    margin-top: 10px;
}